.card {
  position: relative;

  width: 100%;
  max-width: 282px;

  background-color: #fff;
  color: #000;

  border-radius: 10px;

  box-sizing: border-box;

  flex: 1 1 calc(33.333% - 34px);

  overflow: hidden;
}

.card__image {
  display: block;

  width: 282px;
  height: 282px;

  object-fit: cover;
}

.card__description {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px;
}

.card__title {
  margin: 0;

  font-family: "Inter-Black", sans-serif;

  font-size: 24px;

  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;

  max-width: 200px;
}

.card__delete-button {
  position: absolute;

  top: 18px;

  right: 15px;

  width: 18px;

  height: 19px;

  border: none;

  cursor: pointer;

  background: transparent url("../images/Trash.svg") center no-repeat;

  transition: opacity 0.3s;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__like-button {
  width: 21px;

  height: 19px;

  border: none;

  cursor: pointer;

  background: transparent url("../images/Vector.svg") center no-repeat;

  transition: opacity 0.3s;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url("../images/activeLike.png");
}
